<div class="card card-user mx-auto mt-20 mb-10 w-80 sm:w-full block p-6 max-w-md bg-white text-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
  <div class="card-header">
    <h5 class="card-title text-center font-bold uppercase">{{ 'edit_user' | translate }}</h5>
  </div>
  <div class="card-body">
    <form #f="ngForm" class="form">
      <div class="form-group row">
        <label class="font-medium">{{ 'name' | translate }}</label>
        <div class="mt-2">
          <input type="text" class="form-control w-full" placeholder="{{ 'name' | translate }}" [(ngModel)]="employies.name"  #name="ngModel" name="name" required>
          <div class="text-danger" *ngIf="name.invalid && (name.dirty || name.touched) ">{{ 'required_field' | translate }}</div>
        </div>
      </div>
      <div class="form-group row">
        <label class="font-medium">{{ 'surname' | translate }}</label>
        <div class="mt-2">
          <input type="text" class="form-control w-full" placeholder="{{ 'surname' | translate }}" [(ngModel)]="employies.surname"  #surname="ngModel" name="surname" required>
          <div class="text-danger" *ngIf="surname.invalid && (surname.dirty || surname.touched) ">{{ 'required_field' | translate }}</div>
        </div>
      </div>
      <div class="form-group row">
        <label class="font-medium">{{ 'email' | translate }}</label>
        <div class="mt-2">
          <input type="email" class="form-control w-full" placeholder="{{ 'email' | translate }}" [(ngModel)]="employies.email" #email="ngModel" name="email"  email="true" required>
          <div class="text-danger" *ngIf="email.invalid && (email.dirty || email.touched) ">{{ 'valid_email' | translate }}</div>
        </div>
      </div>
      <button type="submit" class="px-6 py-3 rounded-xl font-bold mt-3 w-full bg-orange-400" (click)="update()" [disabled]="f.invalid">{{ 'edit' | translate }}</button>
      <button type="submit" class="px-6 py-3 rounded-xl font-bold mt-3 w-full bg-orange-700"  [routerLink]="['/']" >{{ 'cancel' | translate }}</button>
    </form>
  </div>
</div>

